<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIHost</key>
	<string>$(API_HOST)</string>
	<key>ContactEmail</key>
	<string>$(CONTACT_EMAIL)</string>
	<key>AppGroupIdentifier</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
</dict>
</plist>
