// KotlinLeeds Configuration

PRODUCT_BUNDLE_IDENTIFIER = uk.co.kotlinleeds.KotlinLeeds
PRODUCT_NAME = KotlinLeeds
APP_DISPLAY_NAME = KotlinLeeds
API_HOST = kotlinleeds.co.uk
CONTACT_EMAIL = info@kotlinleeds.co.uk
APP_GROUP_IDENTIFIER = group.uk.co.kotlinleeds
CODE_SIGN_ENTITLEMENTS = SwiftLeeds/KotlinLeeds.entitlements
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
EXCLUDED_SOURCE_FILE_NAMES = SwiftLeedsAssets.xcassets SwiftLeedsColors.xcassets
WIDGET_KIND_NAME = KotlinLeedsWidget
