name: iOS CI Build Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  DEVELOPER_DIR: /Applications/Xcode_26.0.1.app/Contents/Developer

jobs:
  build:
    name: Build SwiftLeeds (DEBUG)
    runs-on: macos-latest
    steps:
      - name: Checkout iOS Repository
        uses: actions/checkout@v2
        
      - name: Build iOS Project via Fastlane
        run: fastlane build_debug
