name: iOS CI Build Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build SwiftLeeds (DEBUG)
    runs-on: macos-13
    steps:
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.2.0"
      - name: Get swift version
        run: swift --version # Swift 6.2.0
      
      - name: Checkout iOS Repository
        uses: actions/checkout@v2
        
      - name: Build iOS Project via Fastlane
        uses: maierj/fastlane-action@v2.2.1
        with:
          lane: build_debug
