name: iOS CI Build Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  DEVELOPER_DIR: /Applications/Xcode_26.0.1.app/Contents/Developer

jobs:
  build:
    name: Build SwiftLeeds (DEBUG)
    runs-on: macos-latest
    steps:
      - name: Checkout iOS Repository
        uses: actions/checkout@v2
        
      - name: Setup Ruby and install bundler
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
          
      - name: Build iOS Project via Fastlane
        uses: maierj/fastlane-action@v3.1.0
        with:
          lane: build_debug
          skip-bundle-update: true
